
body {background-color:  #a8a8a8;}


#edit-logo {



    align-items: center;

   


    width: 40%;
    border-radius: 40%;
    box-shadow: 10px 10px 10px rgb(19, 18, 18);
    left: 20%;
  

  }



