.row {

    background: #484a4d;
  
  
  }
  
  footer {
  
      color: #fefefe;
      font-size: 14px;
  
      display: flex;
      flex-direction: column;
      text-align: center;
  
      box-shadow: 2px 2px 5px #999;
  }
  
  img {
  
      background: #484a4d;
      display: grid;
      place-items: center;
      height: 75px;
  
  
  
  }
  
  .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
     
    }


    .text-shadow-hys {
        text-shadow: 5px 5px #030000;
      }
    